.button_save {
    padding: 0.8em 1.8em;
    border: 2px solid #17C3B2;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #17C3B2;
}

    .button_save::before {
        content: '';
        width: 0;
        height: 300%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        background: #17C3B2;
        transition: .5s ease;
        display: block;
        z-index: -1;
    }

    .button_save:hover::before {
        width: 105%;
    }

    .button_save:hover {
        color: #111;
    }

.savebutton{
    margin: 10px 0 10px 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.user-avatar {
    margin-top: 5rem;
    background-color: #FFC7C7;
    border-radius: 10px 10px 0 0;
}

.user-infor {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #FFC7C7;
    border-radius: 0 0 10px 10px;
    padding-bottom: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.user-account {
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #FFC7C7;
    border-radius: 10px;
    padding-bottom: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.my-favourite {
    max-height: 50rem;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #FFC7C7;
    border-radius: 10px;
    padding-bottom: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.text-white{
    color: #fff;
}