
@{
    ViewBag.Title = "Videos";
    Layout = "~/Areas/Admin/Views/Shared/_layout_Admin.cshtml";
}


<div class="form_input_admin">
    <h2 class="text-center mb-3">Videos</h2>

    <table class="table" id="table_videos">
        <thead>
            <tr>
                <th class="text-center">
                    Tên video
                </th>
                <th class="text-center">
                    Ngày đăng tải
                </th>
                <th class="text-center">
                    Tác giả
                </th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
        </tfoot>
    </table>
</div>